.user-search-form {
  background-color: #fafbfc;
  color: #24292e;
  width: 100%;
  max-width: 430px;
  padding: 24px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.user-search-form__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 10px;
}

.user-search-form__input {
  min-height: 46px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-search-form__message {
  color: #cb2431;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}

.user-search-form__button {
  color: #ffffff;
  background-color: #2ebc4f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 20px 0;
  border: 1px solid #2ebc4f;
  border-radius: 6px;
  cursor: pointer;
}

.user-search-form__button:hover {
  background-color: #30a64a;
}

.user-search-form__input:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

@media (max-width: 768px) {
  .user-search-form {
    max-width: 480px;
  }
}
